@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
    font-family: 'Abel', sans-serif;
    padding-top: 3rem;
    background: url(img/sky.jpg) center center no-repeat;
    background-size: cover;
}

.container{
    height: 80vh;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #fff5ee;
    border-radius: 0.5rem;
    opacity: 0.8;
    border: 0.2rem solid #63ace5;
    box-shadow: 1rem 1rem 1rem #fff, -1rem -1rem 1rem #fff;
    position: relative;
}

.created-by{
    text-align: center;
    margin-top: 3rem;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #fff5ee;
}

/* CHOOSING AND DISPLAYING LOCATION SECTION */

.location-section{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

#location{
    font-size: 3rem;
    color:#005b96;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: 0.1rem 0.2rem 0.3rem #fff;
    height: 20%;
    margin-bottom: 1rem;
}

.search-container{
    height: 80%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search-container input{
    height: 2.5rem;
    width: 50%;
    margin: 0.2rem auto;
    border: 0.1rem solid #005b96;
    padding-left: 0.2rem;
}

.search-container select{
    height: 2.5rem;
    width: 30%;
    margin: 0 auto 0.5rem auto;
    border: 0.1rem solid #005b96;
    padding-left: 0.2rem;
}

.search-container select:hover{
    cursor: pointer;
}


.search-container label{
    height: 1.5rem;
    width: 20%;
    margin: 0 auto;
    padding-left: 0.2rem;
}

.search-container input:focus, .search-container select:focus{
    outline: none;
}

#search{
    padding: 0.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: 0 0.1rem 0.1rem #fff;
    color: #005b96;
}

#search:hover{
    cursor: pointer;
    filter: brightness(90%);
}

/* END OF CHOOSING AND DISPLAYING LOCATION SECTION */

/* DISPLAYING WEATHER SECTION */

.weather-section{
    display: flex;
    height: 70%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.weather-today{
    width: 25%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    perspective: 150rem;
    margin-right: 1rem;
}

#change-information{
    position: absolute;
    font-size: 1.2rem;
    left: 50%;
    transform: translate(-50%);
    top: 0;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    z-index: 20;
}

.display-weather-today{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: #63ace5;
    width: 100%;
    border-radius: 1rem;
    padding-top: 1rem;
    z-index: 10;
    transition: all 0.4s;
}

.more{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2a4d69;
    border-radius: 1rem;
    padding-top: 1rem;
    transform: translateZ(-5rem);
    z-index: 0;
    transition: all 0.4s;
}

.more img{
    width: 50%;
}

#today-date{
    color: #fff;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.display-weather-today i{
    font-size: 6rem;
    color: #fff;
    margin-bottom: 0.5rem;
}

.weather-information-today
{
    width: 100%;
    margin: auto;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.weather-information-today p{
    margin: 1rem 0;
    font-size: 1.4rem;
    text-align: center;
}



.weather-next-three-days{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateX(1.2rem);
}

.display-weather{
    background-color: #63ace5;
    height: 70%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.weather-next-three-days i{
    font-size: 3rem;
    color: #fff;
    margin-bottom: 1rem;
}

.display-weather p{
    margin: 1.5rem 0;
    text-align: center;
}

.display-weather h2{
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.show{
    z-index: 10;
    transform: translateZ(0);
    left: 0;
    background-color: #63ace5;
}

.hide{
    z-index: 0;
    transform: translateZ(-5rem);
    left: 1.5rem;
    background-color: #2a4d69;
}

/* END OF DISPLAYING WEATHER SECTION */

/* WARNING */

#warning{
    color:#ff0f0f;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 0.8rem;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    display: none;
}

#warning.display{
    display: block;
}

/* END OF WARNING */

/* MEDIA QUERIES */ 

@media(max-width: 800px){
    #location{
        font-size: 2rem;
    }

    .search-container input{
        height: 2rem;
        width: 40%;
    }

    #search{
        font-size: 1rem;
    }

    .search-container select{
        font-size: 1rem;
    }

    .search-container label{
        width: 80%;
        text-align: center;
    }
}

@media(max-width: 550px){
    #change-information{
        font-size: 1rem;
    }

    .search-container input{
        width: 70%;
        height: 1.8rem;
    }

    .search-container input::placeholder{
        font-size: 1rem;
    }

    .search-container select{
        width: 50%;
        height: 1.8rem;
    }

    #location{
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .weather-next-three-days{
        display: none;
    }

    .weather-today
    {
        width: 70%;
    }
}

@media(max-width: 400px){
    #location{
        font-size: 1.1rem;
        justify-self: center;
    }

    .container{
        padding-top: 1rem;
    }

    .search-container input{
        margin: 1rem auto;
    }

    #find-location{
        margin-top: 0;
    }

    .weather-today
    {
        width: 90%;
    }

    .search-container select{
        width: 70%;
    }

    .search-container input{
        width: 90%;
    }
}
